*{
	margin: 0 auto;
}

.navbar {
	postion: fixed;
	list-style: none;
  	padding: 0;
  	margin: 0;
  	overflow: hidden;
  	width: 100%;
  	top: 0;
}

.navlist {
	background: blue;
 	display: block;
  	float: left;
 	margin: 0;
  	padding: 0;
  	text-align: center;
  	width: 25%;

	a {
		font-family: "Helvetica", Arial, sans-serif;
		color: white; // black font
	    display: block;
	    padding-top: 20px;
		padding-bottom: 20px;
		text-decoration: none;
	  	
	  	&:hover {
	      color: #e82d00; //red font
	    }
	}
}


